/* global styles */
body {
  font-family: monospace, 'Courier New', Courier, monospace;
  font-size: 15px;
  line-height: 1;
  background: var(--yellow);
  color: var(--black);
}

:root {
  --black: #070707;
  --blackTransparent: rgba(7, 7, 7, 0.6);
  --sageGreen: #c9cba3;
  --yellow: #ffe1a8;
  --lightBlue: #B2CEDE;
  --lightGrey: #e2e6e7; 
}

.bg-yellow {
  background: var(--yellow) !important;
}

.bg-white {
  background: #fff;
}

/* header */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border: 2px solid black;
  padding: 40px;
  max-width: 1024px;
}

/* input */
textarea {
  background: transparent;
  border: none;
  resize: vertical;
  color: var(--black);
  padding: 10px;
  height: 150px;
}

/* time classes */
.hour {
  background-color: #ffffff;
  color: var(--black);
  font-size: 14px;
  padding: 30px 0;
  text-align: center;
}

.past {
  background-color: var(--lightGrey);
  color: var(--blackTransparent) !important;
}

.present {
  background-color: var(--sageGreen);
  color: var(--black) !important;
}

.future {
  background-color: var(--lightBlue);
  color: var(--black) !important;
}

/* border classes */
.offset-border-4 {
  box-shadow: 4px 4px var(--black) !important;
}

.border-2 {
  border: 2px solid var(--black) !important;
}

.border-x-2 {
  border-top: 2px solid var(--black) !important;
  border-bottom: 2px solid var(--black) !important;
}

.border-l0 {
  border-left: none !important;
}

/* margin classes */
.ml-n2px {
  margin-left: -2px;
}

.mb-tiny {
  margin-bottom: 2px;
}

/* button classes */
.save-btn {
  color: var(--black);
  justify-self: end;
}

.save-btn:hover {
  background-color: #fff;
  transition: all .3s ease-in-out;
}

.btn-black {
  background: var(--black);
  color: #fff;
}

.btn-black:hover {
  background: #fff;
  color: var(--black);
  transition: all .3s ease-in-out;
}

/* icons */
.list-icon {
  height: 100px;
  width: 100px;
}

.lock {
  height: 20px;
  width: 20px;
}

/* sizing classes */
.inherit-height {
  height: inherit;
}

.container {
  max-width: 955px;
  min-width: 320px;
}

/* MEDIA QUERY */
/* Rotate time on small screens */
@media only screen and (max-width: 575px) {
  .hour-text {
    transform: rotate(-90deg);
    white-space: nowrap;
  }
}